@{
  Layout = "_Layout";
}

@using BakeryWholesale.Models;

<h1>Vendor Profile</h1>
<h3>@Model["vendor"].VendorName</h3>
<h4>@Model["vendor"].VendorDescription</h4>
<div class="vendorHub">
  <h3>Here are all pending orders for @Model["vendor"].VendorName:</h3>
  @if (@Model["order"].Count == 0)
  {
    <p>No orders have been added. Click the link below to add a new order for @Model["vendor"].VendorName.</p>
  }
  @foreach (Order order in @Model["order"])
  {
    <p><a class="vendorDisplay" href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.OrderName</a></p>
  }
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order for @Model["vendor"].VendorName.</a></p>
</div>